
.product-list {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 1080px;
}
.product-item {
    width: 260px;
    margin: 0 5px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    min-height: 580px;


}
/* .product-item:hover {
    background-color:rgb(171, 214, 253) ;
    cursor: pointer;
} */
.product-img {
    width: 100%;
    height: 350px;
    padding: 10%;
}
.product-info {
    margin-left: 20px;
}
.product-name {
    font-size: 26px;
    margin: 4px 0;    
    font-weight: 600;
}
.product-author {
    font-size: 20px;

}
.product-price {
    margin: 8px 0;
}
.product-btn-buy {
    border: none;
    background-color: white;
    color: #5F4FCC;
    font-size: 20px;
    padding: 6px;
    border-radius: 15px;
    width: 80px;
    margin: 8px;
    margin-right: 20px;
    border: 2px solid #5F4FCC;
    position: absolute;
    bottom: 0;
    right: 0;
    
}
.product-btn-buy:hover {
    background-color: #5F4FCC;
    color: white;
    cursor: pointer;
}