
.signup-container {
    width: auto;
    /* background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%); */
    background-color: #F0F5F8;
    position: relative;
    box-sizing: border-box;

    
}
.signup-content {
    margin: auto;
    width: auto;
    height: 600px;
    background-color: white;
    border-radius: 25px;
    padding: 18px;
}
.signup-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 38px;
}
.signup-input-form {
    margin: 32px;
}
.signup-input-span {
    display: block;
    font-weight: 500px;
    font-size: 18px;
    opacity: .7;
    margin: 8px 16px;
}
.signup-input-box {
 width: 100%;
 outline: none;
 border: none;
 border-bottom: 4px solid rgba(204, 204, 204, 0.356);
 text-align: center;
 font-size: 20px;
 margin: 0;
}
.btn-signup {
    width: 100%;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    color: white;
    font-size: 26px;
    font-weight: 500px;
    border-radius: 25px;
    border: none;
}
.btn-signup {
    width: 200px;
    margin-left: calc(50% - 100px);
    height: 40px;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    color: white;
    font-size: 26px;
    font-weight: 500px;
    border-radius: 25px;
    border: none;
    margin-top: 16px;
}
.btn-signup:hover {
    cursor: pointer;
    background: linear-gradient(45deg, rgb(56, 235, 65) 0%,     rgb(45, 80, 235) 100%);

}
.signup__have-account {
    margin-top: 16px;
}
.btn__singup-route {
    text-decoration: none;
    color: white;

}
strong {
    font-size: 18px;
    margin: 0 8px;
}
strong:hover {
    opacity: .8;
}