/* card */
.card {
  cursor: pointer;
}
/* navbar class is hihi */
.hihi {
  color: rgb(237, 204, 156);
  transition: all 0.5s ease;
}
.hihi:hover {
  transform: scale(1.2);
}

/* class footer */
.tt {
  transition: all 0.5s ease;
  cursor: pointer;
}
.tt:hover {
  transform: scale(1.1);
}
/* class footer */
.dmac {
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1%;
  transition: all 0.5s ease;
}
.dmac:hover {
  transform: scale(1.1);
}
/* class footer */
.dmaca {
  transition: all 0.5s ease;
}
.dmaca:hover {
  transform: scale(1.1);
}

/* class carousel */
.cardd {
  width: 60vh;
  justify-content: center;
  height: 400px;
  margin-top: -50px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.cardd:hover {
  transform: scale(1.1);
}

.carousel {
  background: rgba(237, 231, 198, 0.7);
  position: relative;
  left: 50%;
  right: 50%;
  height: 550px;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100%;
}

.bd_left {
  border-left: 4px solid rgba(233, 174, 57, 0.975);
  margin-left: 10px;
  margin-right: 5px;
}

.yud {
  color: rgb(75, 74, 73);
}

.cart {
  margin-top: -5px;
  margin-left: 2px;
  height: 20px;
  /* color: rgb(151, 148, 142); */
  transition: all 0.5s ease;
}
.cart:hover {
  transform: scale(1.3);
}

.heart {
  margin-top: -4px;
  height: 20px;
  color: rgb(244, 102, 102);
  cursor: pointer;
  transition: all 0.5s ease;
}
.heart:hover {
  transform: scale(1.4);
}

/* class contact */
.ctact {
  margin-top: 10px;
  border-radius: 50%;
  height: 60vh;
  width: 60vh;
  transition: all 0.5s ease;
  border: 1px solid black;
}
.ctact2 {
  margin-top: 10px;
  border-radius: 50%;
  height: 60vh;
  width: 60vh;
  transition: all 0.5s ease;
  border: 3px solid rgb(233, 185, 42);
  margin-left: -80px;
}
.ctact:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.ctact2:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(241, 196, 90, 0.5);
}

/* Nav */
.kkk {
  margin-left: -15px;
}

.logo {
  width: 100px;
  height: 60px;
  margin-left: 15px;
  margin-right: -12px;
  margin-bottom: -13px;
  margin-top: -13px;
  /* transition: all 0.5s ease; */
}
/* Màu mè logo */
/* .logo:hover {
      transform: scale(1.3);
  } */

.login {
  margin-left: 700px;
  margin-right: 12px;
  color: rgb(237, 204, 156);
  transition: all 0.5s ease;
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
}
.login:hover {
  transform: scale(1.2);
}

.logout {
  transition: all 0.5s ease;
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.logout:hover {
  transform: scale(1.1);
}

/* product - buynow */
.buynoww {
  text-decoration: none;
}

/* empty */
.empty {
  width: 600px;
  height: 500px;
  margin: auto;
  margin-left: 330px;
}

/* redeem */
.redeem {
  margin: auto;
  width: 100%;
  font-weight: bold;
}

.total {
  border-radius: 20px;
}
