.checkout {
  width: 100vw;
  min-height: 100vh;
  background: #7e7c77;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  max-width: 800px;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
